.home-content {
  text-align: center;
  color: #fff;
}

.home-content h1 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 26px;
}

.home-icon {
  font-size: 80px;
  margin-bottom: 18px;
}

.home-content p {
  font-size: 20px;
  opacity: 0.9;
  margin-bottom: 18px;
}

.home-btn {
  padding: 10px 18px;
  font-size: 12px;
  border: none;
  border-radius: 6px;
  background: #9fd3ff;  /* BLUE */
  color: #0a2540;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
}

.home-btn:hover {
  background: #b6e1ff;  /* lighter blue */
}
